.section {
    background-color: #fff;
    margin: 10px 0;
    box-shadow: 0 0 5px #ddd;
}


.section__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #eee;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.section__body {
    padding: 20px;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}